version: "3.9"

services:
  redis:
    image: redis:7
    restart: unless-stopped
    networks:
      - bot-net

  worker:
    build: .
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
        REDIS_URL: redis://redis:6379
    depends_on:
      - redis
    networks:
      - bot-net
    volumes:
      - worker-session:/app/.wwebjs_auth
      - worker-chrome:/app/chrome-data

networks:
  bot-net:
    name: bot-net
    external: true

volumes:
  worker-session:
  worker-chrome:
